@import url('default.css');

header {
    position: absolute; /*body를 기준으로 정렬*/
    left: 0;
    top: 0;
    width: 100%;
    /* position:absolute를 주면 요소가 inline-block이 된 것처럼
       내부에 콘텐츠가 존재하는 만큼의 넓이만 갖는다.*/
    height: 100px;
    color: #fff;
}
header h1 {
    float: left;
    margin: 30px 80px 0 0;
}
header h1 a {
    display: block;
    width: 297px;
    height: 62px;
    background: url(../images/logo_w.svg) no-repeat center center / 100%;
    font-size: 0;
    line-height: 0;
}
header .gnb {
    float: left;
    margin: 20px 0 0 0;
}
header .gnb button {
    display: none;/*모바일에서만 표시 - 메뉴 여는 버튼*/
}
header .gnb ul li {
    float: left;
}
header .gnb ul li a {
    display: block;
    padding: 27px 27px;
    font-size: 20px;
}
header .tnb {
    float: right;
    margin: 30px 0 0 0;
}
header .tnb ul li {
    float: left;
}

header .tnb ul li button span {
    display: none;
}
header .tnb ul li button i {
    padding: 10px;
    font-size: 24px;
    font-weight: 300;
}
@media screen and (max-width:640px) {
    header {
        height: 45px;
    }
    header h1 {
        margin: 9px 0 0 0;
    }
    header h1 a {
        width: 106px;
        height: 22px;
    }
    header .gnb {
        float: right;
        margin: 9px 0 0 8px;
    }
    header .gnb button {
        display: block;/*모바일에서만 표시 - 메뉴 여는 버튼*/
    }
    header .gnb button span {
        display: none;
    }
    header .gnb button i {
        font-size: 24px;
        font-weight: 300;
    }
    header .gnb ul {
        display: none;
    }
    
    header .tnb {
        float: right;
        margin: 9px 0 0 0;
    }
    header .tnb ul li.mypage {
        display: none;
    }
    header .tnb ul li button i {
        padding: 0;
    }
}

.visual {
    height: 850px;
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: #fff;
    text-align: center;
}
.visual h2 {
    padding: 289px 0 30px 0;
    font-size: 60px;
    font-weight: 700;
}
.visual p {
    font-size: 30px;
}
.visual .txt_mobile {
    display: none;
}

@media screen and (max-width:640px) {
    .visual {
        height: auto;
        padding: 0 0 65px 0;
    }
    .visual h2 {
        padding: 92px 0 6px 0;
        font-size: 20px;
        line-height: 1.5;
    }
    .visual h2 span {
        display: block;
    }
    .visual p {
        font-size: 10px;
    }
    .visual .txt_pc {
        display: none;
    }
    .visual .txt_mobile {
        display: block;
    }
}

.book {
    margin: 102px 0 12px 0;
}
.book .tit {
    float: left;
}
.book .tit h2 {
    margin: 5px 0 16px 0;
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 700;
}
.book .tit .btn {
    margin: 27px 0 0 0;
}
.book .tit .btn button {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 9px;
    border: 1px solid #000000;
}
.book .tit .btn button span {
    display: none;
}
.book .tit .btn button i {
    /*padding-left: 10px;*/
}
/* 
    컨텐츠 영역 밖으로 나가는 리스트 - 스크롤(모바일)
    1. ul를 감싸는 div가 있어야함
    2. ul를 감싸는 div는 overflow:auto 이어야함 ...(모바일)
       넓이와 높이를 입력
    3. ul은 li 전체의 넓이를 가져야함
       position:absolute (모바일) - 좌우로 슬라이드는 absolute만됨*/
.book .list {
    margin-left: 330px;
}

/*
    왼쪽요소는 float:left를 줌
*/
.book .list ul {
    width: 1940px;
}
.book .list ul li {
    float: left;
    width: 290px;
    margin: 0 40px 0 0;
}
.book .list ul li:last-child {
    margin-right: 0;
}
.book .list ul li a {
    display: block;
}
.book .list ul li a img {
    /*border: 1px solid #666666;*/
}
.book .list ul li a .subject {
    display: block;
    margin: 5px 0 9px 0;
    font-size: 30px;
}
.book .list ul li a .writer {
    display: block;
    font-size: 15px;
}

@media screen and (max-width:640px) {
    .book {
        margin: 25px 0 31px 0;
    }
    .book .tit {
        float: none;
    }
    .book .tit h2 {
        float: left;
        margin: 0;
        font-size: 30px;
    }
    .book .tit p {
        display: none;
    }
    .book .tit .btn {
        float: right;
        margin:0;
    }
    .book .tit .btn button {
        float: left;
        width: 24px;
        height: 24px;
        margin-right: 4px;
        border: 1px solid #000000;
    }
    
    .book .list {
        overflow-x: auto;
        overflow-y: hidden;
        width: calc(100% + 20px);
        padding: 10px 0;
        margin-left: 0;
    }
    /*   
        calc는 넓이나 높이의 수치를 계산할때 사용
        대부분 %와 px를 혼용할 때 사용
        list에 100%를 주면 wrapper가 좌우에 여백 20px을
        준 안쪽으로 넓이가 생성된다.
        그런데 오른쪽만 콘텐츠 영역 밖으로 더 나가고자 하면
        calc(100% + 20px)*/
    
    /*
        왼쪽요소는 float:left를 줌
    */
    .book .list ul {
        width: 1020px;
        padding: 24px 0 0 0;
    }
    .book .list ul li {
        width: 155px;
        margin: 0 10px 0 0;
    }
    
    .book .list ul li a {
        display: block;
    }
    .book .list ul li a img {
        width: 100%;
    }
    .book .list ul li a .subject {
        display: block;
        margin: 15px 0 10px 0;
        font-size: 15px;
    }
    .book .list ul li a .writer {
        display: block;
        font-size: 10px;
    }
}        

.interview {
    background-color: #F7E9CF;
    padding: 0 0 154px 0;
}
.interview h2 {
    padding: 45px 0 45px 0;
    font-size: 40px;
    font-weight: 700;
}    
.interview .colgruop {
    position: relative; /* pic_box 정렬의 기준점*/
}
.interview .pic_box {
    position: absolute;
    left: 0;
    top: 53px ;
}
.interview .cnt_box {
    height: 465px;
    margin: 0 0 0 70px;
    background-color: #fff;
}
.interview .cnt_box .inner {
    padding: 92px 17px 0 550px;
}
.interview .cnt_box h3 {
    margin: 0 0 20px 20px;
    font-size: 40px;
    font-weight: 700;
}
.interview .cnt_box p {
    margin: 0 0 30px 20px;
}
.interview .cnt_box a {
    display: block;
    width: 160px;
    height: 40px;
    margin: 0 0 0 20px;
    padding: 0 4px 0 4px;
    line-height: 40px;
    white-space: nowrap;
    /* 버튼디자인에서 글자를 높이의 위아래 가운데
       배치하기 위해서는 제일 쉬운 방법인 행간을
       높이값과 동일하게 주는 것이다.*/
    border: 1px solid #666;
}
.interview .cnt_box a i {
    float: right;
    margin: 6px 0 0 0;
}

@media screen and (max-width:640px) {
    .interview {
        padding: 0 0 48px 0;
    }
    .interview h2 {
        padding: 27px 0 16px 0;
        font-size: 30px;
        font-weight: 700;
    }    
    .interview .colgruop {
        position: relative; /* pic_box 정렬의 기준점*/
    }
    .interview .pic_box {
        position: relative;
        left: auto;
        top: auto;
    }
    .interview .pic_box img {
        width: 100%;
    }
    .interview .cnt_box {
        height: auto;
        margin: 0;
        background-color: #F7E9CF;
    }
    .interview .cnt_box .inner {
        padding: 0;
    }
    .interview .cnt_box h3 {
        margin: 30px 0 16px 0;
        font-size: 15px;
        font-weight: 700;
    }
    .interview .cnt_box p {
        margin: 0 0 16px 0;
        font-size: 10px;
    }
    .interview .cnt_box a {
        display: block;
        width: 100px;
        font-size: 10px;
        height: 24px;
        margin: 0;
        padding: 0 4px 0 4px;
        line-height: 20px;
        white-space: nowrap;
        /* 버튼디자인에서 글자를 높이의 위아래 가운데
           배치하기 위해서는 제일 쉬운 방법인 행간을
           높이값과 동일하게 주는 것이다.*/
        border: 1px solid #666;
    }
    .interview .cnt_box a i {
        float: right;
        margin: 0;
    }
}