.cnt_ceo {
    position: relative;
}
.cnt_ceo .ceo_pic {
    position: absolute;
    right: 50%;
    top: 0;
    margin-right: 180px;
}
.cnt_ceo .inner {
    margin: 0 0 0 600px;
}
.cnt_ceo .tit {
    font-size: 20px;
    margin: 0 0 20px 0;
}
.cnt_ceo .tit strong {
    color: #ed1c24;
    font-weight: 400;
}
.cnt_ceo .sign {
    margin: 35px 0 0 0;
    text-align: right;
}
@media screen and (max-width:640px) {
    .cnt_ceo .ceo_pic {
        display: none;
    }
    .cnt_ceo .inner {
        margin: 0;
    }
    .cnt_ceo .tit {
        font-size: 30px;
        margin: 0 0 35px 0;
    } 
    .cnt_ceo .sign {
        margin: 20px 0 0 0;
    }
}


.cnt_historyN .tit {
    font-size: 30px;
    text-align: center;
}
.cnt_historyN .tit span {
    display: block;
}
.cnt_historyN .history_wrap {
    position: relative;
    margin: 69px 0 0 0;
}
.cnt_historyN .history_wrap::before {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #ed1c24;
    content: "";
}
.cnt_historyN .inner {
    position: relative;
}
.cnt_historyN .year_tit {
    position: absolute;
    top: 0;
}
.cnt_historyN .year_tit.left {
    left: 0;
}
.cnt_historyN .year_tit.right {
    right: 0;
}
.cnt_historyN .year_tit .bg {
    width: 600px;
    height: 340px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cnt_historyN .year_tit .bg.year2000 {
    background-image: url(../images/contents/historyN_img01.png);
}
.cnt_historyN .year_tit .bg.year2010 {
    background-image: url(../images/contents/historyN_img02.png);
}