/* 모든 페이지에 공통 들어가는 스타일 (header/footer) */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/variable/pretendardvariable.css");
html, body {
    color: #3D3D3D;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    /* 폰트 적용 우선순위
       을유 웹폰트 우선적용, - 만약에 웹폰트가 지원되지 않으면 그 다음에 선언된 폰트가 적용됨
       apple sd gothic - 아이폰에서 지원하는 폰트 */
    font-size: 15px;
    font-weight: 400;
    /* letter-spacing: -0.05em; */
    word-break: keep-all; /* 단어별 줄바꿈 */
}
#wrap { /* id="wrap" */
    min-width: 1400px;
    /* 브라우저에 가로스크롤이 생성되었을때 배경이 짤리지 않기 위해 
       최소 넓이를 줌 */
}
/* 콘텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데 배치 */
.wrapper {
    width: 1400px;
    margin: 0 auto;
}
@media screen and (max-width:640px){
    /* 640px 이하의 디바이스에서만 아래 css가 적용
      pc에서는 1280px이라는 콘텐츠 고정 넓이가 존재했지만
      모바일에서는 디바이스 넓이에 맞춰서 꽉차게 구현
      구현방식이 달라서 고정값을 모두 삭제 */
    html, body {
        font-size: 13px;
    }
    #wrap {
        min-width: 320px;
    }
    .wrapper {
        width: auto;
        margin: 0 20px;
    }
}/* media 종료 */
.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

/* wrapper와 동일한 사이즈를 갖은 position:relative를 요소는
   cnt_wrap 클래스 줌 */
.cnt_wrap {
    position: relative;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 300;
    width: 100%;
    height: 100px;
    color: #fff;
}
.header .logo {
    float: left;
    margin: 24px 0 0 22px;
}
.header .logo a {
    display: block;
    width: 212px;
    height: 48px;
    background-image: url(../images/common/logo_w.svg); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    font-size: 0;
    line-height: 0;
}

@media screen and (min-width:641px) {
    .header .gnb {
        float: right;
        margin: 0 30px 0 0;
    }
    .header .gnb .gnb_open {
        display: none;
    }
    .header .gnb .gnb_close {
        display: none;
    }
    .header .gnb>ul>li {
        float: left;
        width: 220px;
    }
    .header .gnb>ul>li>a {
        display: block;
        font-size: 20px;
        line-height: 100px;
        text-align: center;
    }
    .header .gnb>ul>li {
        position: relative;
    }
    .header .gnb>ul>li>ul {
        display: none;
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
        height: 722px;
        padding: 40px 0 0 0;
        border-left: 1px solid #ededed;
    }
    .header .gnb>ul>li>ul>li>a {
        display: block;
        padding: 0 0 0 17px;
        font-size: 15px;
        line-height: 40px;
    }
    .header .gnb>ul>li:hover>a {
        color: #004588;
        font-weight: 700;
    }
    .header .gnb>ul>li:hover>ul {
        background-color: #004588;
        color: #fff;
    }
    .header .gnb>ul>li>ul>li>a:hover {
        color: #B1D9F9;
        font-weight: 700;
    }
    
}
.header.fixed {
    position: fixed;
    min-width: 1400px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.header.fixed, .header.menu_open {
    background-color: #fff;
    color: #3D3D3D;
}
.header.fixed .logo a, .header.menu_open .logo a {
    background: url(../images/common/logo.svg);
}
.header.menu_open::before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 822px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    content: "";
}
.header.menu_open::after {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 1px;
    background-color: #ededed;
    content: "";
}
.header.menu_open .gnb>ul>li>ul {
    display: block;
}

@media screen and (max-width:640px) {
    .header {
        height: 60px;
    }
    .header .logo {
        margin: 20px 0 0 9px;
    }
    .header .logo a {
        width: 136px;
        height: 28px;
    }
    .header .gnb {
        float: right;
        overflow-y: auto;
    }
    .header .gnb button {
        height: 60px;
        padding: 0 24px;
    }
    .header .gnb button span {
        display: none;
    }
    .header .gnb button i {
        font-size: 30px;
    }
    .header .gnb > ul {
        display: none;
        margin: 60px 20px;
    }
    .header .gnb > ul > li {
        border-top: 1px solid #ededed;
    }
    .header .gnb > ul > li:last-child {
        border-bottom: 1px solid #ededed;
    }
    .header .gnb > ul > li > a {
        display: block;
        position: relative;
        padding: 0 0 0 20px;
        font-size: 25px;
        line-height: 60px;
    }
    .header .gnb > ul > li > a::after {
        position: absolute;
        right: 0;
        top: 20px;
        color: #000;
        -moz-osx-font-smoothing : grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-rendering: auto;
        font-weight: 900;
        font-family: "Font Awesome 6 Free";
        content: "\f078";
    }
    .header .gnb > ul > li > ul {
        display: none;
        padding: 20px 0;
        background-color: #004588;
        color: #fff;
    }
    .header .gnb > ul > li > ul > a {
        display: block;
        padding: 0 0 0 35px;
        font-size: 20px;
        line-height: 40px;
    }
    .header .gnb > ul > li.sub_open > a {
        color: #004588;
        font-weight: 700;
    }
    .header .gnb > ul > li.sub_open > a::after {
        color: #004588;
        content: "\f077";
    }
    .header .gnb > ul > li.sub_open > ul {
        display: block;
        padding: 24px 0 24px 35px;
        font-size: 20px;
        line-height: 2;
    }
    .header .gnb .gnb_close {
        display: none;
        position: fixed;
        right: 0;
        top: 0;
    }
    .header.menu_mobile .gnb {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        color: #1d1d1d;
    }
    .header.menu_mobile .gnb .gnb_open {
        display: none;
    }
    .header.menu_mobile .gnb > ul {
        display: block;
    }
    .header.menu_mobile .gnb .gnb_close {
        display: block;
    }

    .header.fixed {
        min-width: 320px; 
    }
    .header.fixed, .header.menu_open {
        color: #1d1d1d;
    }
    .header.fixed .gnb .gnb_open i {
        color: #004588;
    }
}/* header 모바일 스타일 */

