@import "_var.scss";
@import "_default.scss";
@import "_common.scss";


/* 
    scss 내에서 import할 default와 common 등의 파일은
    파일명 앞에 _(언더바)를 입력하면 sass컴파일러가 해당 팡리은 컴파일 하지 않음
    main.css나 sub.css에서 default, common을 필요에 따라서 import 해서 사용하면 됨.
    
    
*/


.visual {
    position: relative;
    .tit {
        position: absolute;
        left: calc(50% - 700px);
        top: 50%;
        z-index: 10;
        color: $w_tit_color;
        }
        strong {
            display: block;
        }
        h2 {
            @include font_serif;
            font-size: 60px;
            font-weight: 700;
            line-height: 1.2;
        }
        .popup{
            height: 100vh;
            ul li img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .btn_wrap {
                display: flex;
                align-items: center;
                position: absolute;
                left: calc(50% - 700px);
                top: calc(50% + 180px);
                z-index: 10;
                .btn_paging {
                    font-size: 0;
                    line-height: 0;
                    span {
                        opacity: 0.5;
                        width: 70px;
                        height: 4px;
                        background-color: #fff;
                        border-radius: 0;
                        &.swiper-pagination-bullet-active {
                            opacity: 1;
                        }
                    }
                }
            }
            .btn_stop {
                width: 7px;
                height: 4px;
                margin-left: 5px;
                background-image: url(/image09/bntailor/image/common/visual_btn_stop.svg);
                background-position: center center;
                background-repeat: no-repeat;
                font-size: 0;
                line-height: 0;
                &.play {
                    background-image: url(/image09/bntailor/image/common/visual_btn_play.svg);
                }
            }
        }
    }

@media screen and (max-width:1440px) {
    .visual {
        .tit {
            left:50%;
            width: calc(100% - 40px);
            transform: translate(-50% , -50%);
            text-align: center;
            h2 {
                font-size: 40px;
            }
        }
        .popup {
            .btn_wrap {
               left: 50%;
               top: calc(50% + 90px);
               transform: translate(-50% , 0);
            }
        }
        }
    }



    .fabric {
        position: relative;
        padding: 0 0 338px 0;
        background-color: #FEDBBB;
        color: $basic_color;
        h2 {
            @include zindex_top;
            padding: 100px 0 0 0;
            color: $basic_color;
            font-size: 20px;
        }
        .tit {
            @include zindex_top;
            @include font_serif;
            color: $basic_color;
            font-size: 30px;
            margin: 28px 0 0 0;
            width: 800px;
            font-weight: 700;
        }
        .cnt {
            @include zindex_top;
            margin: 40px 0 0 0;
            width: 800px;
        }
        .bg {
            position: absolute;
            overflow: hidden;
            left: calc(50% + 260px);
            top: 0;
            z-index: 1;
            width: 480px;
            height: 633px;
            img {
                display: block;
                width: 120%;
                height: 120%;
                object-fit: cover;
            }
        }
        .bg2 {
            position: absolute;
            overflow: hidden;
            left: calc(50% + 500px);
            top: 153px;
            z-index: 1;
            width: 305px;
            height: 432px;
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }


