@import url('default.css');


header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: #fff;
}
header h1 {
    float: left;
    margin: 37px 0 0 0;
}
header h1 a {
    display: block;
    width: 120px;
    height: 30px;
    background: url(../images/logo_w.svg) no-repeat left top / 100% auto;
    /*영역에 맞춰서 들어가는 로고는 짤리면 안됨 (cover x )
      그래서 size가 100% 넓이에 꽉차게 auto 높이 비율에 맞게 알아서 */
    font-size: 0;
    line-height: 0;
}
header nav {
    float: right;
    margin: 17px 0 0 0;
}
header nav .gnb_open {
    display: none;
}
header nav .gnb_close {
    display: none;
}
header nav > ul > li {
    float: left;
    width: 240px;
    text-align: center;
}
header nav > ul > li > a {
    display: block;
    padding: 20px 0;
    font-size: 21px;
}
header nav > ul > li > ul {
    display: none;
}

@media screen and (max-width:640px) {
    header {
        height: 45px;
    }
    header h1 {
        margin: 16px 0 0 0;
    }
    header h1 a {
        width: 60px;
        height: 15px;
    }
    header nav {
        margin: 10px 0 0 0;
    }
    header nav .gnb_open {
        display: block;
        padding: 0 0 10px 10px;
    }
    header nav > ul {
        display: none;
    }

}

.visual {
    height: 900px;
    background: url(../images/visual_bg.png) no-repeat center center/cover;
    color: #fff;
}
.visual h2 {
    padding: 320px 0 20px 0;
    font-size: 60px;
    font-weight: 700;
}
.visual p {
    font-size: 20px;
    font-weight: 400;
}

@media screen and (max-width:640px) {
    .visual {
        height: auto;
        text-align: center;
    }
    .visual h2 {
        padding: 184px 0 167px 0;
        font-size: 25px;
    }
    .visual h2 span {
        display: block;
    }
    .visual p {
        display: none;
    }
}


.product {
    margin: 159px 0 0 0;
}
.product h2 {
    position: sticky;
    top: 0;
    float: left;
    font-size: 55px;
    font-weight: 700;
    line-height: 1.2;
}
.product h2 span {
    display: block;
}
.product .list {
    margin-left: 400px;
}
.product .list ul li {
    width: 400px;
    margin: 0 0 100px 0;
}
.product .list ul li:nth-child(1),
.product .list ul li:nth-child(3),
.product .list ul li:nth-child(5){
    float: left;
}
.product .list ul li:nth-child(2),
.product .list ul li:nth-child(4){
    float: right;
}
.product .list ul li:nth-child(2){
    margin-top: 200px;
}
.product .list ul li a {
    display: block;
}
.product .list ul li a strong {
    display: block;
    margin: 25px 0 15px 0;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.5;
    height: 3em;
    overflow: hidden;
}
.product .list ul li a span {
    display: block;
    margin: 0 0 11px 0;
    line-height: 1.5;
    height: 4.5em;
    overflow: hidden;
}
.product .list ul li a i {
    font-size: 35px;
}

@media screen and (max-width:640px) {
    .product {
        margin: 49px 0 0 0;
    }
    .product h2 {
        position: relative;
        top: auto;
        left: auto;
        float: none;
        font-size: 20px;
    }
    .product h2 span {
        display: inline;
    }
    .product .list {
        overflow-y: hidden;
        overflow-x: auto;
        margin-left: 0;
    }
    .product .list ul {
        width: 1350px;
        padding: 14px 0;
    }
    .product .list ul li {
        width: 250px;
        margin: 0 20px 0 0;
    }
   
    .product .list ul li:nth-child(2),
    .product .list ul li:nth-child(4){
        float: left;
    }
    .product .list ul li:nth-child(2){
        margin-top: 0;
    }
    .product .list ul li a img {
        width: 100%;
    }

    .product .list ul li a strong {
        margin: 18px 0 11px 0;
        font-size: 15px;
    }
    .product .list ul li a span {
        margin: 0 0 11px 0;
    }
    .product .list ul li a i {
        font-size: 24px;
    }
}