@import url(default.css);
@import url(common.css);


.visual {
    height: 900px;
    background: url(../images/main/visual_bg.png) no-repeat center center / cover;
    color: #fff;
    text-align: right;
}
.visual h2 {
    padding: 188px 0 18px 0;
    font-size: 50px;
    font-weight: 700;
}
.visual p {
    padding: 0 0 37px 0;
    font-size: 25px;
    font-weight: 400;
}
.visual a {
    font-size: 15px;
    font-weight: 400;
    padding: 5px 26px;
    border: 1px solid #fff;
    border-radius: 19px;
}
@media screen and (max-width:640px) {
    .visual {
        height: 395px;
        text-align: left;
    }
    .visual h2 {
        margin-right: 0;
        padding: 120px 0 4px 0;
        font-size: 30px;
    }
    .visual p {
        margin-right: 0;
        padding: 4px 0 15px 0;
        font-size: 15px;
    }
    .visual a {
        margin-right: 0;
        font-size: 10px;
        padding: 5px 25px;
    }
}
.biz {
    margin: 207px 0 207px 0;
}
.biz .tit {
    float: left;
    padding: 196px 0 0 0;
}
.biz .tit h2 {
    font-size: 50px;
    font-weight: 700;
    color: #1d1d1d;
}
.biz .tit p {
    font-size: 25px;
    font-weight: 400;
    color: #1d1d1d;
}
.biz .list {
    float: right;
    width: 928px;
}
.biz .list ul li {
    float: left;
    width: 33.33%;
}
.biz .list ul li a {
    position: relative;
    overflow: hidden;
    display: block;
    height: 582px;
}
.biz .list ul li a .inner {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    transition: 0.5s;
    padding: 20px 15px 0 15px;
} 
.biz .list .pic01 {
    width: 309px;
    height: 582px;
    background-image: url(../images/main/biz01.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.biz .list li a .inner i {
    font-size: 40px;
    color: #fff;
}
.biz .list li a .inner h3 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
.biz .list li a .inner p {
    position: relative;
    margin: 14px 0 14px 0;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
    /* border-bottom: 1px solid #fff; */
}
.biz .list li a .inner p::after {
    position: absolute;
    left: 0px;
    bottom: -10px;
    width: 100%;
    height: 1px;
    background-color: #fff;
    content: "";
}
.biz .list li a .inner span {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    transition: 0.5s;
    opacity: 0;
}
.biz .list .pic02 {
    width: 309px;
    height: 582px;
    background-image: url(../images/main/biz02.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.biz .list .pic03 {
    width: 309px;
    height: 582px;
    background-image: url(../images/main/biz03.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.biz .list li a:hover .inner {
    bottom: 0;
    background-color: rgba(192,162,122,0.8);
    padding-bottom: 30px;
}
.biz .list li a:hover .inner p {
    opacity: 1;
}
.biz .list li a:hover .inner span {
    opacity: 1;
}

@media screen and (max-width:640px) {
    .biz {
        margin: 20px 0 50px 0;
    }
    .biz .tit {
        float: none;
        padding: 0;
    }
    .biz .tit h2 {
        font-size: 20px;
    }
    .biz .tit p {
        font-size: 15px;
    }
    .biz .list {
        float: none;
        margin: 30px 0 0 0;
        width: auto;
        padding-bottom: 61px; /* 가로 스크롤바가 글자에 겹쳐서  */
    }
    .biz .list .swiper-scrollbar {
        opacity: 1 !important;
        background-color: #ccc;
        height: 1px;
    }
    .biz .list .swiper-scrollbar .swiper-scrollbar-drag {
        position: relative;
        opacity: 1;
    }
    .biz .list .swiper-scrollbar .swiper-scrollbar-drag::before {
        position: absolute;
        left: 0;
        top: -1px;
        width: 100%;
        height: 2px;
        background-color: rgba(192,162,122,0.8);
        content: "";
    }
    .biz .list ul {
        width: 1310px;
        margin-left: 0;
    }
    .biz .list ul li {
        width: 309px;
    }
    
    .biz .list ul li a {
        position: relative;
        overflow: hidden;
        display: block;
        height: 400px;
    }
    .biz .list ul li a .inner {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        transition: 0;
        padding: 20px 15px 30px 15px;
    } 
    .biz .list .pic01 {
        height: 400px;
    }
    .biz .list li a .inner i {
        display: none;
    }
    .biz .list li a .inner h3 {
        font-size: 20px;
    }
    .biz .list li a .inner p {
        position: relative;
        margin: 14px 0 14px 0;
        font-size: 10px;
        opacity: 0;
        transition: 0;
        /* border-bottom: 1px solid #fff; */
    }
    .biz .list li a .inner p::after {
        position: absolute;
        left: 0px;
        bottom: -10px;
        width: 100%;
        height: 1px;
        background-color: #fff;
        content: "";
    }
    .biz .list li a .inner span {
        font-size: 10px;
        transition: auto;
        opacity: 0;
    }
    .biz .list .pic02 {
        height: 400px;
    }
    .biz .list .pic03 {
        height: 400px;
    }
    .biz .list li a .inner {
        bottom: 0;
        background-color: rgba(192,162,122,0.8);
        padding-bottom: 0;
    }
    .biz .list li a .inner p {
        opacity: 1;
    }
    .biz .list li a .inner span {
        opacity: 1;
    }
}
@media screen and (max-width:411px) {
    .biz {
        margin: 20px 0 50px 0;
    }
    .biz .tit {
        float: none;
        padding: 0;
    }
    .biz .tit h2 {
        font-size: 20px;
    }
    .biz .tit p {
        font-size: 15px;
    }
    .biz .list {
        float: none;
        margin: 30px 0 0 0;
        width: auto;
        padding-bottom: 61px; /* 가로 스크롤바가 글자에 겹쳐서  */
    }
    .biz .list .swiper-scrollbar {
        opacity: 1 !important;
        background-color: #ccc;
        height: 1px;
    }
    .biz .list .swiper-scrollbar .swiper-scrollbar-drag {
        position: relative;
        opacity: 1;
    }
    .biz .list .swiper-scrollbar .swiper-scrollbar-drag::before {
        position: absolute;
        left: 0;
        top: -1px;
        width: 100%;
        height: 2px;
        background-color: rgba(192,162,122,0.8);
        content: "";
    }
    .biz .list ul {
        width: 1310px;
        margin-left: 0;
    }
    .biz .list ul li {
        width: 309px;
    }
    
    .biz .list ul li a {
        position: relative;
        overflow: hidden;
        display: block;
        height: 400px;
    }
    .biz .list ul li a .inner {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        transition: 0;
        padding: 20px 15px 30px 15px;
    } 
    .biz .list .pic01 {
        height: 400px;
    }
    .biz .list li a .inner i {
        display: none;
    }
    .biz .list li a .inner h3 {
        font-size: 20px;
    }
    .biz .list li a .inner p {
        position: relative;
        margin: 14px 0 14px 0;
        font-size: 10px;
        opacity: 0;
        transition: 0;
        /* border-bottom: 1px solid #fff; */
    }
    .biz .list li a .inner p::after {
        position: absolute;
        left: 0px;
        bottom: -10px;
        width: 100%;
        height: 1px;
        background-color: #fff;
        content: "";
    }
    .biz .list li a .inner span {
        font-size: 10px;
        transition: auto;
        opacity: 0;
    }
    .biz .list .pic02 {
        height: 400px;
    }
    .biz .list .pic03 {
        height: 400px;
    }
    .biz .list li a .inner {
        bottom: 0;
        background-color: rgba(192,162,122,0.8);
        padding-bottom: 0;
    }
    .biz .list li a .inner p {
        opacity: 1;
    }
    .biz .list li a .inner span {
        opacity: 1;
    }
}
@media screen and (max-width:320px) {
    .biz {
        margin: 20px 0 50px 0;
    }
    .biz .tit {
        float: none;
        padding: 0;
    }
    .biz .tit h2 {
        font-size: 20px;
    }
    .biz .tit p {
        font-size: 15px;
    }
    .biz .list {
        float: none;
        margin: 30px 0 0 0;
        width: auto;
        padding-bottom: 61px; /* 가로 스크롤바가 글자에 겹쳐서  */
    }
    .biz .list .swiper-scrollbar {
        opacity: 1 !important;
        background-color: #ccc;
        height: 1px;
    }
    .biz .list .swiper-scrollbar .swiper-scrollbar-drag {
        position: relative;
        opacity: 1;
    }
    .biz .list .swiper-scrollbar .swiper-scrollbar-drag::before {
        position: absolute;
        left: 0;
        top: -1px;
        width: 100%;
        height: 2px;
        background-color: rgba(192,162,122,0.8);
        content: "";
    }
    .biz .list ul {
        width: 1310px;
        margin-left: 0;
    }
    .biz .list ul li {
        width: 309px;
    }
    
    .biz .list ul li a {
        position: relative;
        overflow: hidden;
        display: block;
        height: 400px;
    }
    .biz .list ul li a .inner {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        transition: 0;
        padding: 20px 15px 30px 15px;
    } 
    .biz .list .pic01 {
        height: 400px;
    }
    .biz .list li a .inner i {
        display: none;
    }
    .biz .list li a .inner h3 {
        font-size: 20px;
    }
    .biz .list li a .inner p {
        position: relative;
        margin: 14px 0 14px 0;
        font-size: 10px;
        opacity: 0;
        transition: 0;
        /* border-bottom: 1px solid #fff; */
    }
    .biz .list li a .inner p::after {
        position: absolute;
        left: 0px;
        bottom: -10px;
        width: 100%;
        height: 1px;
        background-color: #fff;
        content: "";
    }
    .biz .list li a .inner span {
        font-size: 10px;
        transition: auto;
        opacity: 0;
    }
    .biz .list .pic02 {
        height: 400px;
    }
    .biz .list .pic03 {
        height: 400px;
    }
    .biz .list li a .inner {
        bottom: 0;
        background-color: rgba(192,162,122,0.8);
        padding-bottom: 0;
    }
    .biz .list li a .inner p {
        opacity: 1;
    }
    .biz .list li a .inner span {
        opacity: 1;
    }
}

.fun {
    background: url(../images/main/oat_bg.png) no-repeat center top / auto 694px;
    color: #fff;
}
.fun h2 {
    padding: 107px 0 73px 0;
    font-size: 55px;
    font-weight: 400;
    font-family: 'Noto Serif KR', serif;
}
.fun .meet .product01 {
    float: left;
    width: 680px;
    height: 626px;
}
.fun .meet .product01 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fun .meet .info01 {
    float: left;
    margin: 20px 0 0 40px;
    font-family: 'Noto Serif KR', serif;
}
.fun .meet .info01 ul li h3 {
    font-size: 50px;
    font-weight: 400;
}
.fun .meet .info01 ul li p {
    font-size: 25px;
    font-weight: 400;
    margin: 11px 0 25px 0;
}
.fun .meet .info01 ul li a {
    font-size: 15px;
    font-weight: 700;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 22px;
}

.fun .oat .info02 {
    float: left;
    margin: 132px 0 0 120px;
    font-family: 'Noto Serif KR', serif;
    color: #3d3d3d;
    text-align: right;
}
.fun .oat .info02 ul li h3 {
    font-size: 50px;
    font-weight: 700;
}
.fun .oat .info02 ul li p {
    font-size: 25px;
    font-weight: 400;
    margin: 11px 0 25px 0;
}
.fun .oat .info02 ul li a {
    font-size: 15px;
    font-weight: 700;
    padding: 10px 30px;
    border: 1px solid #3d3d3d;
    border-radius: 22px;
}
.fun .oat .product02  {
    float: right;
    width: 680px;
    height: 626px;
    margin-top: 33px;
}
.fun .oat .product02 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:640px) {
    .fun {
        background: url(../images/main/oat_bg.png) no-repeat center top / auto 1600px;
        color: #fff;
    }
    .fun h2 {
        padding: 20px 64px 10px 64px;
        font-size: 30px;
        text-align: center;
    }
    .fun .meet .product01 {
        float: none;
        width: auto;
        height: 250px;
    }
    .fun .meet .info01 {
        float: none;
        margin: 11px 0 22px 0;
        text-align: center;
    }
    .fun .meet .info01 ul li h3 {
        font-size: 25px;
    }
    .fun .meet .info01 ul li p {
        font-size: 15px;
        margin: 7px 0 20px 0;
    }
    .fun .meet .info01 ul li a {
        font-size: 10px;
        padding: 6px 24px;
    }

    .fun .oat .info02 {
        float: none;
        margin: 5px 0 30px 0;
        color: #fff;
        text-align: center;
    }
    .fun .oat .info02 ul li h3 {
        font-size: 25px;
    }
    .fun .oat .info02 ul li p {
        font-size: 15px;
        margin: 7px 0 20px 0;
    }
    .fun .oat .info02 ul li a {
        font-size: 10px;
        padding: 6px 24px;
        border: 1px solid #fff;
    }
    .fun .oat .product02 {
        float: none;
        width: auto;
        height: 250px;
        margin-top: 0;
    }
    
}
@media screen and (max-width:320px) {
    .fun {
        background: url(../images/main/oat_bg.png) no-repeat center top / auto 1600px;
        color: #fff;
    }
    .fun h2 {
        padding: 20px 25px 10px 25px;
        font-size: 25px;
        text-align: center;
    }
    .fun .meet .product01 {
        float: none;
        width: auto;
        height: 250px;
    }
    .fun .meet .info01 {
        float: none;
        margin: 11px 0 22px 0;
        text-align: center;
    }
    .fun .meet .info01 ul li h3 {
        font-size: 20px;
    }
    .fun .meet .info01 ul li p {
        font-size: 12px;
        margin: 7px 0 20px 0;
    }
    .fun .meet .info01 ul li a {
        font-size: 10px;
        padding: 3px 12px;
    }

    .fun .oat .info02 {
        float: none;
        margin: 5px 0 30px 0;
        color: #fff;
        text-align: center;
    }
    .fun .oat .info02 ul li h3 {
        font-size: 20px;
    }
    .fun .oat .info02 ul li p {
        font-size: 12px;
        margin: 7px 0 20px 0;
    }
    .fun .oat .info02 ul li a {
        font-size: 10px;
        padding: 3px 12px;
        border: 1px solid #fff;
    }
    .fun .oat .product02 {
        float: none;
        width: auto;
        height: 250px;
        margin-top: 0;
    }
    
}


.seo h2 {
    margin: 62px 0 62px 0;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}
.seo .pic ul li {
    float: left;
    padding: 102px 0 0 122px;
    background: url(../images/main/contact.png) no-repeat center center / cover;
    width: 50%;
    height: 513px;
    color: #fff;
}
.seo .pic ul li i {
    font-size: 36px;
}
.seo .pic ul li h3 {
    margin-top: 35px;
    font-size: 30px;
    font-weight: 700;
}
.seo .pic ul li p {
    margin: 15px 0 50px 0;
    font-size: 20px;
    font-weight: 400;
}
.seo .pic ul li a {
    font-size: 15px;
    font-weight: 700;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 22px;
}
.seo .pic02 ul li {
    float: right;
    padding: 102px 0 0 122px;
    background: url(../images/main/recruit.png) no-repeat center center / cover;
    width: 50%;
    height: 513px;
    color: #fff;
}
.seo .pic02 ul li i {
    font-size: 36px;
}
.seo .pic02 ul li h3 {
    margin-top: 35px;
    font-size: 30px;
    font-weight: 700;
}
.seo .pic02 ul li p {
    margin: 15px 0 50px 0;
    font-size: 20px;
    font-weight: 400;
}
.seo .pic02 ul li a {
    font-size: 15px;
    font-weight: 700;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 22px;
}
@media screen and (max-width:640px) {
    .seo h2 {
        margin: 50px 0 27px 0;
        font-size: 25px;
    }
    .seo .pic ul li {
        float: left;
        padding: 50px 0 0 0;
        width: 100%;
        height: 193px;
        text-align: center;
    }
    .seo .pic ul li i {
        font-size: 30px;
    }
    .seo .pic ul li h3 {
        margin: 0 0 10px 0;
    }
    .seo .pic ul li p {
        display: none;
    }
    .seo .pic ul li a {
        font-size: 8px;
        padding: 3px 13px;
    }
    .seo .pic02 ul li {
        float: left;
        padding: 50px 0 0 0;
        width: 100%;
        height: 193px;
        text-align: center;
    }
    .seo .pic02 ul li i {
        font-size: 30px;
    }
    .seo .pic02 ul li h3 {
        margin: 0 0 10px 0;
    }
    .seo .pic02 ul li p {
        display: none;
    }
    .seo .pic02 ul li a {
        font-size: 8px;
        padding: 3px 13px;
    }
}
@media screen and (max-width:320px) {
    .seo h2 {
        margin: 50px 0 27px 0;
        font-size: 15px;
    }
    .seo .pic ul li {
        float: left;
        padding: 50px 0 0 0;
        width: 100%;
        height: 193px;
        text-align: center;
    }
    .seo .pic ul li i {
        font-size: 30px;
    }
    .seo .pic ul li h3 {
        margin: 0 0 10px 0;
    }
    .seo .pic ul li p {
        display: none;
    }
    .seo .pic ul li a {
        font-size: 8px;
        padding: 3px 13px;
    }
    .seo .pic02 ul li {
        float: left;
        padding: 50px 0 0 0;
        width: 100%;
        height: 193px;
        text-align: center;
    }
    .seo .pic02 ul li i {
        font-size: 30px;
    }
    .seo .pic02 ul li h3 {
        margin: 0 0 10px 0;
    }
    .seo .pic02 ul li p {
        display: none;
    }
    .seo .pic02 ul li a {
        font-size: 8px;
        padding: 3px 13px;
    }
}