@import url(default.css);
@import url(common.css);

header {
    position: absolute; /*body를 기준으로 정렬*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    color: #fff;
    border: 1px solid rgba(255,255,255,0.6);
}
header h1 {
    float: left;
    margin: 36px 60px 0 0;
}
header h1 a {
    display: block;
    width: 182px;
    height: 30px;
    background-image: url(../images/common/logo.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    font-size: 0;
    line-height: 0;
}
header .lang {
    float: left;
    margin: 40px 0 0 0;
    padding: 6px 8px;
    font-size: 10px;
    font-weight: 700;
    border: 1px solid #fff;
    border-radius: 14px;
}
header .lang .am {
    margin: 0 0 0 19px;
    color: rgba(255,255,255,0.6);
}
header .gnb {
    float: right;
}
header .gnb > ul {
    margin: 2px 228px 0 0;
}
header .gnb > ul > li {
    float: left;
    width: 130px;
    text-align: center;
    line-height: 30px;
}
header .gnb > ul > li > a {
    display: block;
    font-size: 20px;
    line-height: 100px;
}
header .gnb > ul > li:last-child > a {
    padding-right: 0;
}
header .gnb > ul > li > ul {
    display: none;
}
header.menu_open {
    color: #3d3d3d;
}
header.menu_open .lang {
    border: 1px solid #3d3d3d;
}
header.menu_open h1 a {
    background-image: url(../images/common/logo_bl.svg);
}
header.menu_open::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 300px;
    z-index: 1;
    background-color: #fff;
    content: "";
}
header.menu_open .wrapper {
    position: relative;
    z-index: 2;
}
header.menu_open .gnb > ul > li > ul {
    display: block;
}
.visual {
    height: 900px;
    background: url(../images/main/visual_bg.png) no-repeat center center / cover;
    color: #fff;
    text-align: right;
}
.visual h2 {
    margin-right: 228px;
    padding: 188px 0 18px 0;
    font-size: 50px;
    font-weight: 700;
}
.visual p {
    margin-right: 228px;
    padding: 0 0 37px 0;
    font-size: 25px;
    font-weight: 400;
}
.visual a {
    margin-right: 228px;
    font-size: 15px;
    font-weight: 400;
    padding: 5px 26px;
    border: 1px solid #fff;
    border-radius: 19px;
}
.biz .tit {
    float: left;
    padding: 403px 0 0 0;
}
.biz .tit h2 {
    font-size: 50px;
    font-weight: 700;
    color: #1d1d1d;
}
.biz .tit p {
    font-size: 25px;
    font-weight: 400;
    color: #1d1d1d;
}
.biz .list {
    float: right;
    margin: 207px 0 0 0;
    width: 928px;
}
.biz .list ul li {
    float: left;
    width: 33.33%;
}
.biz .list ul li a {
    display: block;
    height: 582px;
}
.biz .list ul li a .inner {
    padding: 424px 0 0 0;
} 
.biz .list .pic01 {
    width: 309px;
    height: 582px;
    background-image: url(../images/main/biz01.png);
}

.biz .list .pic02 {
    width: 309px;
    height: 582px;
    background-image: url(../images/main/biz02.png);
}
.biz .list .pic03 {
    width: 309px;
    height: 582px;
    background-image: url(../images/main/biz03.png);
}

