@import url(default.css);
@import url(common.css);

header {
    position: absolute; /*body를 기준으로 정렬*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    color: #fff;
    border: 1px solid rgba(255,255,255,0.6);
}
header h1 {
    float: left;
    margin: 36px 60px 0 0;
}
header h1 a {
    display: block;
    width: 182px;
    height: 30px;
    background-image: url(../images/common/logo.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    font-size: 0;
    line-height: 0;
}
header .lang {
    float: left;
    margin: 40px 0 0 0;
    padding: 6px 8px;
    font-size: 10px;
    font-weight: 700;
    border: 1px solid #fff;
    border-radius: 14px;
}
header .lang .am {
    margin: 0 0 0 19px;
    color: rgba(255,255,255,0.6);
}
header .gnb {
    float: right;
}
header .gnb > ul {
    margin: 2px 228px 0 0;
}
header .gnb > ul > li {
    float: left;
    width: 130px;
    text-align: center;
    line-height: 30px;
}
header .gnb > ul > li > a {
    display: block;
    font-size: 20px;
    line-height: 100px;
}
header .gnb > ul > li:last-child > a {
    padding-right: 0;
}
header .gnb > ul > li > ul {
    display: none;
}
header.menu_open {
    color: #3d3d3d;
}
header.menu_open .lang {
    border: 1px solid #3d3d3d;
}
header.menu_open .lang a {
    color: #3d3d3d;
}
header.menu_open h1 a {
    background-image: url(../images/common/logo_bl.svg);
}
header.menu_open::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 300px;
    z-index: 1;
    background-color: rgba(255,255,255,0.9);
    content: "";
}
header.menu_open .wrapper {
    position: relative;
    z-index: 2;
}
header.menu_open .gnb > ul > li > ul {
    display: block;
}
.visual {
    height: 900px;
    background: url(../images/main/visual_bg.png) no-repeat center center / cover;
    color: #fff;
    text-align: right;
}
.visual h2 {
    margin-right: 228px;
    padding: 188px 0 18px 0;
    font-size: 50px;
    font-weight: 700;
}
.visual p {
    margin-right: 228px;
    padding: 0 0 37px 0;
    font-size: 25px;
    font-weight: 400;
}
.visual a {
    margin-right: 228px;
    font-size: 15px;
    font-weight: 400;
    padding: 5px 26px;
    border: 1px solid #fff;
    border-radius: 19px;
}
.biz .tit {
    float: left;
    padding: 403px 0 0 0;
}
.biz .tit h2 {
    font-size: 50px;
    font-weight: 700;
    color: #1d1d1d;
}
.biz .tit p {
    font-size: 25px;
    font-weight: 400;
    color: #1d1d1d;
}
.biz .list {
    float: right;
    margin: 207px 0 207px 0;
    width: 928px;
}
.biz .list ul li {
    float: left;
    width: 33.33%;
}
.biz .list ul li a {
    position: relative;
    overflow: hidden;
    display: block;
    height: 582px;
}
.biz .list ul li a .inner {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    transition: 0.5s;
    padding: 20px 15px 0 15px;
} 
.biz .list .pic01 {
    width: 309px;
    height: 582px;
    background-image: url(../images/main/biz01.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.biz .list li a .inner i {
    font-size: 40px;
    color: #fff;
}
.biz .list li a .inner h3 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
.biz .list li a .inner p {
    position: relative;
    margin: 14px 0 14px 0;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
    /* border-bottom: 1px solid #fff; */
}
.biz .list li a .inner p::after {
    position: absolute;
    left: 0px;
    bottom: -10px;
    width: 100%;
    height: 1px;
    background-color: #fff;
    content: "";
}
.biz .list li a .inner span {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    transition: 0.5s;
    opacity: 0;
}
.biz .list .pic02 {
    width: 309px;
    height: 582px;
    background-image: url(../images/main/biz02.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.biz .list .pic03 {
    width: 309px;
    height: 582px;
    background-image: url(../images/main/biz03.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.biz .list li a:hover .inner {
    bottom: 0;
    background-color: rgba(192,162,122,0.8);
    padding-bottom: 30px;
}
.biz .list li a:hover .inner p {
    opacity: 1;
}
.biz .list li a:hover .inner span {
    opacity: 1;
}

.fun {
    background: url(../images/main/oat_bg.png) no-repeat center top / auto 694px;
    color: #fff;
    text-align: left;
}
.fun h2 {
    padding: 107px 0 73px 0;
    font-size: 55px;
    font-weight: 400;
    font-family: serif;
}
.fun .meet {
    float: left;
    width: 680px;
    height: 626px;
}
.fun .info ul li {
    float: left;
    margin: 0 0 0 30px;
    font-family: serif;
}
.fun .info ul li h3 {
    font-size: 50px;
    font-weight: 700;
}
.fun .info ul li p {
    font-size: 25px;
    font-weight: 400;
    margin: 20px 0 35px 0;
}
.fun .info ul li a {
    font-size: 15px;
    font-weight: 700;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 22px;
}
.fun02 .meet02 {
    float: right;
    margin-top: 33px;
    width: 680px;
    height: 626px;
}
.fun02 .info02 ul li {
    float: left;
    margin: 132px 0 0 100px;
    font-family: serif;
    text-align: right;
}
.fun02 .info02 ul li h3 {
    font-size: 50px;
    font-weight: 700;
}
.fun02 .info02 ul li p {
    font-size: 25px;
    font-weight: 400;
    margin: 20px 0 35px 0;
}
.fun02 .info02 ul li a {
    font-size: 15px;
    font-weight: 700;
    padding: 10px 30px;
    border: 1px solid #3d3d3d;
    border-radius: 22px;
}

.seo h2 {
    margin: 62px 0 62px 0;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}
.seo .pic ul li {
    float: left;
    padding: 102px 0 0 122px;
    background: url(../images/main/contact.png) no-repeat center center / cover;
    width: 50%;
    height: 513px;
    color: #fff;
}
.seo .pic ul li i {
    font-size: 36px;
}
.seo .pic ul li h3 {
    margin-top: 35px;
    font-size: 30px;
    font-weight: 700;
}
.seo .pic ul li p {
    margin: 15px 0 50px 0;
    font-size: 20px;
    font-weight: 400;
}
.seo .pic ul li a {
    font-size: 15px;
    font-weight: 700;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 22px;
}
.seo .pic02 ul li {
    float: right;
    padding: 102px 0 0 122px;
    background: url(../images/main/recruit.png) no-repeat center center / cover;
    width: 50%;
    height: 513px;
    color: #fff;
}
.seo .pic02 ul li i {
    font-size: 36px;
}
.seo .pic02 ul li h3 {
    margin-top: 35px;
    font-size: 30px;
    font-weight: 700;
}
.seo .pic02 ul li p {
    margin: 15px 0 50px 0;
    font-size: 20px;
    font-weight: 400;
}
.seo .pic02 ul li a {
    font-size: 15px;
    font-weight: 700;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 22px;
}

footer {
    background-color: #2D2D2D;
    color: rgba(255,255,255,0.8);
}
footer .inner {
    position: relative;
}
footer .family {
    position: absolute;
    right: 0;
    top: 25px;
    z-index: 100;
}
footer .family button {
    width: 200px;
    height: 37px;
    padding: 0 5px 0 10px;
    border: 1px solid rgba(255,255,255,0.6);
}
footer .family button span {
    float: left;
}
footer .family button i {
    float: right;
    margin: 3px 0 0 0;
    font-size: 18px;
}
footer .family button.close {
    display: none;
}
footer .family ul {
    display: none;
    position: absolute;
    left: 0;
    bottom: 37px;
    width: 100%;
    box-shadow: -3px -3px 10px rgba(0,0,0,0.05);
}
footer .family.fa_open ul {
    display: block;
}
footer .family.fa_open button.close {
    display: block;
}
footer .family.fa_open button.open {
    display: none;
}
footer .family ul li {
    border-bottom: 1px solid #CCC;
}
footer .family ul li:last-child {
    border-bottom: 0;
}
footer .family ul li a {
    display: block;
    padding: 0 0 0 10px;
    line-height: 45px;
    background-color: #FFF;
    color: #3D3D3D;
}
footer .family ul li a:hover {
    background-color: #1255A5;
    color: #FFF;
}
footer .fnav {
    padding: 30px 0 0 0;
}
footer .fnav li {
    position: relative;
    float: left;
    margin: 0 30px 0 0;
}
footer .fnab {
    padding: 16px 0 0 212px;
}
footer .fnab li {
    position: relative;
    float: left;
    margin: 0 30px 0 0;
}
footer .fnan {
    padding: 16px 0 0 212px;
}
footer .fnan li {
    position: relative;
    float: left;
    margin: 0 30px 30px 0;
}
footer .fnav li::after {
    position: absolute;
    right: -17px;
    top: 5px;
    width: 1px;
    height: 12px;
    background-color: rgba(255,255,255,0.3);
    /* content: ""; */
}
footer .fnav li:first-child::after {
    display: none;
}
footer .fnav li:last-child::after {
    display: none;
}
footer .fnav li.privacy {
    font-weight: 700;
}

footer .copyright {
    padding: 0 0 20px 212px;
    color: rgba(255,255,255,0.6);
}