@import url(default.css);
@import url(main.css);
@import url(contents.css);
@import url(common.css);

/* 서브레이아웃 스타일 */

.sub_visual {
    position: relative;
    height: 380px;
    background-image: url(../images/sub/sub_bg1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sub_visual.sub_bg1 {
    background-image: url(../images/sub/sub_bg1.png);
}
.sub_visual.sub_bg2 {
    background-image: url(../images/sub/sub_bg2.png);
}
.sub_visual.sub_bg3 {
    background-image: url(../images/sub/sub_bg3.png);
}
.sub_visual.sub_bg4 {
    background-image: url(../images/sub/sub_bg4.png);
}
.sub_visual.sub_bg5 {
    background-image: url(../images/sub/sub_bg5.png);
}

.sub_visual .lnb {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgba(0,0,0,0.3);
}
.sub_visual .lnb .lnb_menu {
    position: relative;
}
.sub_visual .lnb .lnb_menu > li {
    float: left;
    margin: 0 68px 0 0;
    line-height: 70px;
    color: #fff;
}
.sub_visual .lnb .lnb_menu > li > button {
    display: flex;
    font-size: 15px;
    align-items: center;
}
.sub_visual .lnb .lnb_menu > li > button > span {
    font-size: 15px;
}

.sub_visual .lnb .lnb_menu .sub_menu {
    display: none;
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    color: #3d3d3d;
}

.sub_visual .lnb .lnb_menu .sub_menu::after {
    position: absolute;
    left: -50%;
    bottom: 0;
    width: 200%;
    height: 1px;
    background: #ccc;
    content: "";
}
.sub_visual .lnb .lnb_menu .sub_menu ul li {
    float: left;
    margin-right: 15px;
}

.sub_visual .lnb .lnb_menu .sub_menu ul li.active {
    font-weight: 700;
    color: #008CD6;
}
.sub_visual .lnb.open .lnb_menu .sub_menu {
    display: block;
}
.sub_visual .lnb.open .lnb_menu > li > button > i {
    transform: rotate(180deg);
}

.container {
    min-height: 300px;
}
