@import url(default.css);

.biz h2 {
    margin: 26px 0 44px 0;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
}
.biz ul li {
    float: left;
    width: 33.33%;
    height: 700px 
}
.biz ul li.plant {
    background-image: url(../images/biz01.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.biz ul li.infra {
    background-image: url(../images/biz02.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.biz ul li.buliding {
    background-image: url(../images/biz03.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.biz ul li a {
    display: block;
    height: 700px;
    padding: 467px 0 0 80px;
    color: #ffffff;
}
.biz ul li a .tit {
    display: block;
    margin: 0 0 28px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.25em;
}
.biz ul li a .tit span {
    display: block;
}
.biz ul li a .sub {
    display: block;
    margin: 0 0 0 3px;
}


@media screen and (max-width:640px){
    .biz h2 {
        margin: 48px 0 8px 0;
    }
    .biz ul li {
        float: none;
        width: auto;
        height: 110px 
    }
   
    .biz ul li a {
        /* 내부에 쓴 글자가 2줄이 되고 3줄되도 디자인 스타일을 유지하기 위해서 높이가 아니라 위아래 padding으로 구현해야함*/
        height: 320px;
        padding: 30px 0 35px 20px;
    }
    .biz ul li a .tit {
        display: block;
        margin: 0 0 5px 0;
        font-size: 20px;
        font-weight: 700;
    }
    .biz ul li a .tit span {
        display: inline;
    }
    .biz ul li a .sub {
        display: block;
        margin: 1px 0 0 1px;
    }
}/*media 종료*/

.news {
    margin: 0 0 145px 0;
}
.news h2 {
    margin: 80px 0 30px 0;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
}
.news ul li {
    float: left;
    width: 290px;
    margin: 0 40px 0 0;
}
.news ul li:last-child {
    margin-right: 0;
}
.news ul li a {
    display: block;
}
.news ul li .date {
    display: block;
    margin: 10px 0 12px 0;
    color: #666666;
}
.news ul li .date span {
    display: inline-block; /* margin 적용*/ 
}
.news ul li .date span:first-child {
    position: relative; /*after 정렬 기준점*/
    margin-right: 12px;
}
.news ul li .date span:first-child::after {
    position: absolute;
    content: "";
    right: -7px;
    top: 6px;
    width: 1px;
    height: 10px;
    background-color: #cccccc;

}
.news ul li .tit {
    display: block;
    font-size: 17px;
    font-weight: 400;
}


@media screen and (max-width:640px) {
    .news {
        margin: 0 0 21px 0;
    }
    .news h2 {
        margin: 47px 0 11px 0;
    }
    .news ul li {
        float: none;
        width: auto;
        margin: 0 0 0 0;
        border-top: 1px solid #dddddd;
    }
    .news ul li a {
        padding: 18px 0 20px 0;
    }
    .news ul li a img {
        display: none;
    }
    .news ul li .date {
        margin: 0 0 18px 0;
    }
    
    .news ul li .date span:first-child {
        position: relative; /*after 정렬 기준점*/
        margin-right: 10px;
    }
    .news ul li .date span:first-child::after {
        content: "";
        right: -6px;
        top: 6px;
        height: 8px;
    }
    .news ul li .tit {
        font-size: 15px;
        /*최대 2줄까지만 제목이 나오도록 설정*/
        line-height: 1.5;
        max-height: 3em; /* 행간 *줄수 */
        overflow: hidden;
    }
}/*media 종료*/

.banner h2 {
    display: none;
}
.banner ul li {
    float: left;
    width: 550px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.banner ul li:first-child {
    width: 730px;
}
.banner ul li.esg {
    background-image: url(../images/banner01.png);
}
.banner ul li.customer {
    background-image: url(../images/banner02.png);
}
.banner ul li.recruit {
    background-image: url(../images/banner03.png);
}
.banner ul li a {
    display: block;
    padding: 20px 0 0 40px;
    height: 275px;
    color: #ffffff;
}
.banner ul li:first-child a {
    height: 550px;
    padding: 50px 0 0 60px;
}
.banner ul li a .top {
    display: block;
    font-weight: 700;
} 
.banner ul li a .tit {
    display: block;
    margin: 11px 0 30px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.25;
}
.banner ul li a .tit span {
    display: block; /* pc에서만 줄바꿈 */
}
.banner ul li a .more {
    display: block;
    font-weight: 700;
}

@media screen and (max-width:640px) {
    .banner ul li {
        float: none;
        width: auto;
    }
    .banner ul li:first-child {
        width: auto;
    }
    
    .banner ul li a {
        padding: 16px 38px 8px 38px;
        height: auto;
    }
    .banner ul li:first-child a {
        height: auto;
        padding: 16px 38px 8px 38px;
    }
    
    .banner ul li a .tit {
        margin: 3px 0 7px 0;
        font-size: 20px;
        line-height: 1;
    }
    .banner ul li a .tit span {
        display: inline; /* pc에서만 줄바꿈 */
    }
    .banner ul li a .more {
        display: block;
        font-weight: 700;
    }
}